<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>File Download</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Download Files</h1>-->
<!--    <ul>-->
<!--        {% for file in files %}-->
<!--            <li><a href="/download/{{ file }}">{{ file }}</a></li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Files</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Download Files</h1>
        <ul class="list-group">
            {% for file in files %}
                <li class="list-group-item"><a href="/download/{{ file }}">{{ file }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
